.card_body_desc {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  padding: 20px;
  border-radius: 24px;
  background-color: #fff;
  max-width: 100%;
}

.card_header {
  display: flex;
  column-gap: 18px;
}

.image {
  width: 66px;
  height: 68px;
}

.card_main {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  height: fit-content;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #8a8a89;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.meta {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.rating,
.price_label {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
}

.separator {
  height: 16px;
  color: rgba(25, 26, 21, 0.2);
}

.price_label span {
  color: #38cd3e;
}

.card_body_mob {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.about {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: rgba(25, 26, 21, 0.5);
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #191a15;
  align-self: flex-start;
}

.header_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

@media screen and (max-width: 375px) {
  .image {
    width: 60px;
    height: 58px;
  }

  .subtitle {
    font-size: 12px;
  }

  .name {
    font-size: 16px;
  }

  .meta {
    column-gap: 4px;
  }

  .rating,
  .price_label {
    font-size: 8px;
    column-gap: 4px;
    width: max-content;
  }

  .about {
    font-size: 10px;
  }

  .btn {
    font-size: 12px;
  }

  .card_header {
    column-gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    padding: 24px;
  }

  .image {
    width: 96px;
    height: 96px;
  }

  .card_main {
    width: 100%;
    row-gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }

  .title_wrap {
    row-gap: 8px;
  }

  .subtitle {
    font-size: 16px;
  }

  .name {
    font-size: 24px;
    line-height: 1;
  }

  .meta {
    column-gap: 16px;
  }

  .rating,
  .price_label {
    font-size: 16px;
  }

  .card_body_desc {
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    white-space: unset;
    clip-path: unset;
    clip: unset;
    overflow: unset;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }

  .card_body_mob {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .about {
    margin-top: 10px;
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }
}
