.container {
  padding: 40px 20px 40px 20px;
  background-color: var(--white);
}

.title_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37143;
  letter-spacing: -0.02em;
}

.subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  text-align: center;
  color: rgba(25, 26, 21, 0.5);
  max-width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.input_group {
  position: relative;
}

.input_group input {
  padding: 16px 0 16px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  outline: none;
  width: 100%;
  color: var(--black);
  margin-bottom: 4px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.input_group input::placeholder {
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.25;
  color: #ff0e0e;
}

.eyeIcon {
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  stroke: var(--black);
  fill: var(--white);
}

.log_btn {
  margin-top: 14px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  padding: 14px 0;
  background-color: var(--green);
  color: var(--white);
}

.passwordHints {
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 64px;
  }

  .title_wrap {
    row-gap: 20px;
  }

  .title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 1.25;
    max-width: 438px;
  }
}
